@import '../../../global.scss';

.dishe {
  background-color: whitesmoke;
  min-height: 70vh;
  display: flex;
  flex-direction: column;

  .title-dishes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    color: $redJap;
    min-height: 20vh;
    .image-plat {
      margin-top: 10px;
      width: 60vw;
      height: auto;

      img {
        margin-top: 20px;
        width: 100%;
        border-radius: 10%;
        height: auto;
      }
    }
  }
  .ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $redJap;
    padding: 3% 0;
    margin: 5% 0;
    font-size: 20px;
    @include tablet {
      font-size: 30px;
      margin: 2% 0;
    }

    .ingredients-list {
      width: 80vw;
    }
  }
  .link-recette {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 10vh;
    width: 100%;
    a {
      color: black;
      font-weight: 800;
    }
    img {
      width: 20px;
      margin-top: 15px;
      margin-bottom: 25px;
      animation-name: fleche;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes fleche {
  0% {
    transform: translate(0px, 0px) rotate(-90deg);
  }
  50% {
    transform: translate(0px, 5px) rotate(-90deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-90deg);
  }
}
