@import '../../../global.scss';

.list-dishes {
  /* background-image: url('../../../assets/mountain-g1e22bde8b_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: whitesmoke;
  min-height: 70vh;
  .text {
    font-size: 30px;
    padding-top: 20px;
    margin-left: 15px;
  }
  .mapping {
    padding: 5%;
    .orga {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      font-size: 30px;
      margin-bottom: 3%;
      padding: 3% 0;
      .title {
        margin-bottom: 20px;
      }
      img {
        width: 40vw;
        height: auto;
      }
    }
    .lien {
      text-align: center;
      font-weight: 800;
      .buttonLink {
        color: $redJap;
      }
    }
  }
}
