@import '../../global.scss';

.header {
    background-color: $redJap;
    /* background-image: url("../../assets/lantern.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute; */
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    img {
        height: 80px;
        width: 80px;
    }
}