@import '../../../global.scss';

.home {
    background: linear-gradient(rgb(243, 195, 203), rgb(214, 97, 214), rgb(243, 195, 203));
    height: 70vh;

    .general-home{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        .border-tab {
            border-radius: 100px;
            background-color: $redJap;
            margin: 1% 10%;
            padding: 3%;
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}