@import '../../../global.scss';

.home {
    background-color: rgb(245, 233, 212);
    height: 70vh;

    .general-home{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        .encadre {
            border-radius: 100px;
            background-color: rgb(241, 74, 74);
            margin: 5% 15%;
            padding: 3%;
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}