@import '../../global.scss';

.footer {
    background-color: $redJap;
    min-height: 15vh;
    display: flex;
    justify-content: space-around;

    .cadre-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 5%;
        margin: 0 5%;
        a {
            color: white;
            font-weight: 700;
        }
    }
    

}